src/main/resources/adi/v3/schema3.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://www.cablelabs.com/namespaces/metadata/xsd/title/1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.cablelabs.com/namespaces/metadata/xsd/title/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="LocalizableTitle">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TitleSortName" type="xs:string" />
                <xs:element name="TitleBrief" type="xs:string" />
                <xs:element name="TitleMedium" type="xs:string" />
                <xs:element name="TitleLong" type="xs:string" />
                <xs:element name="SummaryShort" type="xs:string" />
                <xs:element name="SummaryMedium" type="xs:string" />
                <xs:element name="SummaryLong" type="xs:string" />
                <xs:element name="ActorDisplay" type="xs:string" />
                <xs:element maxOccurs="unbounded" name="Actor">
                    <xs:complexType>
                        <xs:attribute name="fullName" type="xs:string" use="required" />
                        <xs:attribute name="firstName" type="xs:string" use="required" />
                        <xs:attribute name="lastName" type="xs:string" use="required" />
                        <xs:attribute name="sortableName" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="WriterDisplay" type="xs:string" />
                <xs:element name="Director">
                    <xs:complexType>
                        <xs:attribute name="fullName" type="xs:string" use="required" />
                        <xs:attribute name="firstName" type="xs:string" use="required" />
                        <xs:attribute name="lastName" type="xs:string" use="required" />
                        <xs:attribute name="sortableName" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="StudioDisplay" type="xs:string" />
                <xs:element name="RecordingArtist" type="xs:string" />
                <xs:element name="SongTitle" type="xs:string" />
                <xs:element name="EpisodeName">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="deprecated" type="xs:boolean" use="required" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="EpisodeID">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="deprecated" type="xs:boolean" use="required" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="Chapter">
                    <xs:complexType>
                        <xs:attribute name="heading" type="xs:string" use="required" />
                        <xs:attribute name="timeCode" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Rating">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="ratingSystem" type="xs:string" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Advisory" type="xs:string" />
    <xs:element name="IsClosedCaptioning" type="xs:boolean" />
    <xs:element name="DisplayRunTime" type="xs:string" />
    <xs:element name="Year" type="xs:unsignedShort" />
    <xs:element name="CountryOfOrigin" type="xs:string" />
    <xs:element name="Genre" type="xs:string" />
    <xs:element name="ShowType" type="xs:string" />
    <xs:element name="IsSeasonPremier">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:boolean">
                    <xs:attribute name="deprecated" type="xs:boolean" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsSeasonFinale">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:boolean">
                    <xs:attribute name="deprecated" type="xs:boolean" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IsEncryptionRequired" type="xs:boolean" />
    <xs:element name="BoxOffice" type="xs:unsignedInt" />
    <xs:element name="ProgrammerCallLetters" type="xs:string" />
</xs:schema>