src/main/resources/adi/v3/schema1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://www.cablelabs.com/namespaces/metadata/xsd/core/1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.cablelabs.com/namespaces/metadata/xsd/core/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import schemaLocation="schema0.xsd" namespace="http://www.cablelabs.com/namespaces/metadata/xsd/vod30/1" />
    <xs:element name="AlternateId">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="identifierSystem" type="xs:string" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="AssetName">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="deprecated" type="xs:boolean" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Product">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="deprecated" type="xs:boolean" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Provider">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="deprecated" type="xs:boolean" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Description">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="deprecated" type="xs:boolean" use="required" />
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Ext">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element xmlns:q1="http://www.cablelabs.com/namespaces/metadata/xsd/vod30/1" ref="q1:App_Data" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProviderQAContact" type="xs:string" />
</xs:schema>