src/main/resources/adi/v3/schema0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" jxb:version="2.1" xmlns:jxb="http://java.sun.com/xml/ns/jaxb">
    <xs:element name="ADI" type="ADIType"/>
    <xs:complexType name="AMSType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="Provider" use="optional"/>
                <xs:attribute type="xs:string" name="Product" use="optional"/>
                <xs:attribute type="xs:string" name="Asset_Name" use="optional"/>
                <xs:attribute type="xs:string" name="Version_Major" use="optional"/>
                <xs:attribute type="xs:string" name="Version_Minor" use="optional"/>
                <xs:attribute type="xs:string" name="Description" use="optional"/>
                <xs:attribute type="xs:string" name="Creation_Date" use="optional"/>
                <xs:attribute type="xs:string" name="Provider_ID" use="optional"/>
                <xs:attribute type="xs:string" name="Asset_ID" use="optional"/>
                <xs:attribute type="xs:string" name="Asset_Class" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="App_DataType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="App" use="optional"/>
                <xs:attribute type="xs:string" name="Name" use="optional"/>
                <xs:attribute type="xs:string" name="Value" use="optional">
                    <!-- rename property generated by JAXB (avoiding "Value" name conflict) -->
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:property name="appDataValue"/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="MetadataType">
        <xs:sequence>
            <xs:element type="AMSType" name="AMS"/>
            <xs:element type="App_DataType" name="App_Data" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ContentType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="Value" use="optional">
                    <!-- rename property generated by JAXB (avoiding "Value" name conflict) -->
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:property name="contentValue"/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="AssetType">
        <xs:sequence>
            <xs:element type="MetadataType" name="Metadata"/>
            <xs:element type="ContentType" name="Content" minOccurs="0"/>
            <xs:element type="AssetType" name="Asset" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ADIType">
        <xs:sequence>
            <xs:element type="MetadataType" name="Metadata"/>
            <xs:element type="AssetType" name="Asset"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>