src/main/resources/adi/v3/schema2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://www.cablelabs.com/namespaces/metadata/xsd/offer/1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.cablelabs.com/namespaces/metadata/xsd/offer/1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Presentation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CategoryRef">
                    <xs:complexType>
                        <xs:attribute name="uriId" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="DisplayAsNew" type="xs:duration" />
                <xs:element name="DisplayAsLastChance" type="xs:duration" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PromotionalContentGroupRef">
        <xs:complexType>
            <xs:attribute name="uriId" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="ProviderContentTier" type="xs:string" />
    <xs:element name="BillingId" type="xs:unsignedShort" />
    <xs:element name="TermsRef">
        <xs:complexType>
            <xs:attribute name="uriId" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="ContentGroupRef">
        <xs:complexType>
            <xs:attribute name="uriId" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="TitleRef">
        <xs:complexType>
            <xs:attribute name="uriId" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="MovieRef">
        <xs:complexType>
            <xs:attribute name="uriId" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="PreviewRef">
        <xs:complexType>
            <xs:attribute name="uriId" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="BoxCoverRef">
        <xs:complexType>
            <xs:attribute name="uriId" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:element name="CategoryPath" type="xs:string" />
</xs:schema>